.CardBack {
    height: 150px;
    width: 150px;
  }

  .CardFront {
    height: 150px;
    width: 150px;
  }


  .CardonBoard .CardFront{
    transform: rotateY(90deg);
    position: absolute;
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
  }

  .CardonBoard .CardBack{
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
  }

  .selected .CardBack{
    transform: rotateY(90deg);
    transition-delay: 0s;
  }
  .selected .CardFront{
    transform: rotateY(0deg);
    transition-delay: 0.2s;
  }