.CardBack {
    height: 150px;
    width: 150px;
  }

  .CardFront {
    height: 150px;
    width: 150px;
  }


  .CardonBoard .CardFront{
    transform: rotateY(90deg);
    position: absolute;
  }

  .selected .CardFront{
    transform: rotateY(0deg);
  }